<html>

    <head>
        <title>Meet The Team</title>
    </head>

    <style>
        body {
        background-color: rgb(61, 58, 58);
        }
    
        a {
        color: rgb(114, 65, 1);
        }
    
        body {
        color: rgb(255, 253, 254);
        }
    
        h1 {
        color: rgb(255, 253, 254);
        }
    
        div {
        color: rgb(255, 253, 254);
        }
    </style>


    <body>


        <h1>Meet The Team</h1>
        <a href="/">Home</a>
        <a href="/How-It-Works">The Process</a>
        <a href="/About-The-Team">Meet The Team</a>
        <hr />
        
        <div align="center"> 
        <div class="center">
        <h1> The Team </h1>

        <h2>Samuel Ulloa</h2>
        <img src="static/sam.jpeg" class="headshot" alt="" style="width:150px;height:200-px;">
        <p>Data Modeler</p>
        <a href="https://www.linkedin.com/in/samuelulloa/">
            <img src="https://upload.wikimedia.org/wikipedia/commons/f/f8/LinkedIn_icon_circle.svg" style="width:30px;height:30-px;" />
        </a>
        
    
        <h2>Chunyan Wang</h2>
        <img src="static/ChunyanWang.png" class="headshot" alt="" style="width:150px;height:200-px;">
        <p>Data Modeler</p>
        <a href="https://www.linkedin.com/in/chrisinecy/">
            <img src="https://upload.wikimedia.org/wikipedia/commons/f/f8/LinkedIn_icon_circle.svg" style="width:30px;height:30-px;" />
        </a>


        <h2>Nic Papenburg</h2>
        <img src="static/nic.jpg" class="headshot" alt="" style="width:150px;height:200-px;">
        <p>Data Engineer</p>
        <a href="https://www.linkedin.com/in/nicholaspapenburg/">
            <img src="https://upload.wikimedia.org/wikipedia/commons/f/f8/LinkedIn_icon_circle.svg" style="width:30px;height:30-px;" />
        </a>


        <h2>Yefim Gorodnitskiy</h2>
        <img src="static/Yefim.JPG" class="headshot" alt="" style="width:150px;height:200-px;">
        <p>Data Engineer</p>
        <a href="https://www.linkedin.com/in/yg2002/">
            <img src="https://upload.wikimedia.org/wikipedia/commons/f/f8/LinkedIn_icon_circle.svg" style="width:30px;height:30-px;" />
        </a>

                
        </div>


        
    </body>

</html>